/* Web fonts */

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
    url('/fonts/libre-franklin-v2-latin-300.woff2') format('woff2'),
    url('/fonts/libre-franklin-v2-latin-300.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
    url('/fonts/libre-franklin-v2-latin-900.woff2') format('woff2'),
    url('/fonts/libre-franklin-v2-latin-900.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
    url('/fonts/roboto-mono-v5-latin-300.woff2') format('woff2'),
    url('/fonts/roboto-mono-v5-latin-300.woff') format('woff');
  font-display: swap;
}

/* General resets */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

figure {
  width: 100% !important;
  margin: 1rem 0;
}

figcaption {
  text-transform: uppercase;
  font-size: 0.7em;
}

/* Vue fade transition */

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(5em);
}

/* Global elements */
.archive .feed {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: auto;
  grid-template-columns:
    [full-start] 0
    [main-start] minmax(0, 1000px) [main-end]
    0 [full-end];
}

.archive .feed-items {
  grid-column: main;
}

.archive .sidebar-ads {
  grid-column: main;
}

@media (min-width: 1000px) {
  .archive .feed {
    padding: 0;
    display: grid;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    grid-template-columns:
      [full-start] minmax(1em, 1fr) [main-start] minmax(0, 45em)
      [main-end sidebar-start] 300px [sidebar-end] minmax(1em, 1fr) [full-end];
  }
  .archive .sidebar-ads {
    grid-column: sidebar;
  }
}

@media (min-width: 1200px) {
  .archive .feed {
    grid-template-columns:
      [full-start] minmax(1em, 1fr)
      [main-start] minmax(0, 62.5em)
      [main-end sidebar-start] 300px [sidebar-end]
      minmax(1em, 1fr) [full-end];
  }
}