/* Web fonts */

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
    url('/fonts/libre-franklin-v2-latin-300.woff2') format('woff2'),
    url('/fonts/libre-franklin-v2-latin-300.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
    url('/fonts/libre-franklin-v2-latin-900.woff2') format('woff2'),
    url('/fonts/libre-franklin-v2-latin-900.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
    url('/fonts/roboto-mono-v5-latin-300.woff2') format('woff2'),
    url('/fonts/roboto-mono-v5-latin-300.woff') format('woff');
  font-display: swap;
}

/* General resets */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

figure {
  width: 100% !important;
  margin: 1rem 0;
}

figcaption {
  text-transform: uppercase;
  font-size: 0.7em;
}

/* Vue fade transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
